name: test

on:
  push:
    branches:
      - main

jobs:
  run:
    name: test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v2.3.3

      - name: test2
        uses: ./
        with:
          user: yi-Xu-0100
          my_token: ${{ secrets.REPO_TOKEN }}

      - name: test
        uses: ./
